<div id="outPopUp" class="container">
    <div class="row">
        <div id="textcent" class="col-md-6 mt-5 mx-auto">
            
                
                <div align="center">
                    <img  src="/assets/Picture1.png" style="width:50%; height: 200px;">
                <br>
                <br>
                <p  style="text-align:center,justify" >The system created is about student information that will be filled in by the lecturer. 
                    There are five important pieces of information that lecturers need to fill in to ensure that the student's information is complete. 
                    Among them are, Student's Name, Student's Course, Student's Phone Number, Student's Current Semester, and Student's Age
                </p>
            <br>
           
            <br>
            <br>
              