<div id="outPopUp" class="container">
    <div class="">
        <div id="textcent" class="col-md-6 mt-5 mx-auto">
            
                <div align="center">
                    <img  src="/assets/faq.png" style="width:50%; height: 200px;">
                <br>
                <br>
                <div class="faqs">
                      
                      <br>
                      <h2 align="center" class="text">How to Add Student Information?</h2>

                        <p align="justify" class="text">Users can press the button on the navbar that is available on the page. 
                        The user needs to select "Add Student" if the page is clicked, it will 
                        change to the student page and the user can enter the student's information.
                        </p>
                        <br>
                        <h2 align="center" class="text">Can I correct the student information I have made?</h2>

                        <p align="justify" class="text">Of course, the User can change the information that has been saved.
                            Users only need to go to "Student List" in the navbar and select the student information they want to create. 
                            after selecting the user can press the "update" button and will be taken to the next page, which is the "updatestudent" page. 
                            The user can change the information and press the "Confirmupdate" button
                        </p>
                        <br>
                        <h2 align="center" class="text">Can I delete the student information I have made? </h2>

                        <p align="justify" class="text">Of course, the User can delete the information that has been saved. 
                            Just like Update students, users only need to go to "Student List" in the navbar and select the student 
                            information they want to create. after selecting the user can press the "delete" button and the 
                            information will be removed from the system and database
                        </p>
                </div>
             </div>
             <br>
             <br>
        </div>
    </div>
